CDP_API_KEY_ID=your_cdp_api_key_id
CDP_API_KEY_SECRET=your_cdp_api_key_secret
CDP_WALLET_SECRET=your_cdp_wallet_secret
BASE_RPC_URL=https://mainnet.base.org
BASE_RPC_TIMEOUT_SECONDS=5
BASE_USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
AXONGATE_VAULT_ADDRESS=your_base_vault_address
AXONGATE_BASE_FEE_USDC=0.02
AXONGATE_FIXED_API_OVERHEAD_USDC=0.0005
AXONGATE_PROFIT_MARGIN_USDC=0.002
AXONGATE_UEG_GAS_UNITS=21000
AXONGATE_ETH_USDC_PRICE=3500
